[2021-02-02 15:49] doomspork opened #1 "Satisfy Credo CI check"
There's currently a few things Credo is complaining about, those need to get cleaned up in order to get CI green.

We can also evaluate modifications to the Credo config if we're unhappy with the defaults.

[2021-02-02 15:50] doomspork opened #2 "Table of contents does not properly handle sections with `` in the name"
There's a few pages where the section header is an inline code fragment like `if`, these are not being handled by the table of contents code correctly because they become nested tags.

I think there's 2 options here:

1. We update all of those lessons to no longer make use of the `` in section headers. This also unifies the styling of all the table of contents and headers.
2. Work through the pars

[2021-02-02 15:51] doomspork opened #3 "Update `config/lessons.exs` with the new lesson structure"
Right now it reflects the existing lesson structure, not the one we want to move to.

[2021-02-02 15:53] doomspork opened #4 "Update `_header.html.eex` to finish integrating the `lesson_link/3` helper"
This helper handles disabling links for lessons missing and translations. Right now it's only partially implemented as I just needed enough to test. We probably want to do #3 first and then this since this relies on that.

[2021-02-02 15:54] doomspork opened #5 "Add Previous and Next lesson links."
The lesson is already set up to contain the next and previous lessons, we just need to add the UI. Additionally I parsed all the lessons and pulled the first paragraph (above the TOC) out and into the `excerpt` attribute. This allows us to display this along with these links.

I'll work on tackling this next.

[2021-02-02 15:54] doomspork opened #6 "Add locale selector to UI"
We need to provide a way for user's to select a different locale from the header.

[2021-02-02 15:55] doomspork opened #7 "Implement a Redirect Plug to handle the `redirect_from` logic in Jekyll"
We need to handle all the redirects we have in the existing project. I think we could pull this out of all the lessons and maintain a single `config/redirects.exs` file that would be leveraged by a Plug.

[2021-02-02 15:57] doomspork opened #8 "Implement the translation report in Phoenix"
This shouldn't be too difficult now to do with Tailwind and Phoenix :tada:

[2021-02-02 15:58] doomspork opened #9 "Improve responsiveness"
The focus has been just the desktop experience so far. We need to revisit all of the markup to improve the tablet and phone experience.

[2021-02-02 15:58] doomspork opened #10 "Implement dark mode"
This is a popular feature on the existing site, we should be sure to port it. I believe TailwindCSS has something built in to make this easier :crossed_fingers:

[2021-02-02 16:04] doomspork opened #11 "Add scroll to top links on each section"
![image](https://user-images.githubusercontent.com/73386/106627045-9a388700-6535-11eb-9434-af6f888a3ef4.png)

@burden _might_ be working on this.

[2021-02-11 00:32] doomspork opened #13 "Add a 404 page for missing lessons with a translation CTA"

[2021-02-11 00:42] #1 closed

[2021-02-11 00:42] #3 closed

[2021-02-11 00:42] #4 closed

[2021-02-11 00:42] doomspork commented on #8
@gemantzu do you want to tackle this since you implemented the original?

[2021-02-11 00:43] doomspork commented on #9
@burden you're the master of responsiveness. Would you be willing to take a peek at this and throw up PRs for any improvements you see?

[2021-02-11 00:44] doomspork commented on #11
@burden are you working on this? You'd mentioned it in chat at the same time I brought it up.

[2021-02-12 18:47] gemantzu commented on #8
Sure!

[2021-03-09 21:59] doomspork commented on #10
![image](https://user-images.githubusercontent.com/73386/110543812-033c8d00-80e8-11eb-8e5f-4a83acf1dcb1.png)

[2021-03-10 22:55] doomspork opened #17 "Integrate AppSignal"
We have an AppSignal account we should set this project up with.

[2021-04-10 21:12] #6 closed

[2021-04-11 23:38] #7 closed

[2021-04-11 23:58] doomspork commented on #11
![image](https://user-images.githubusercontent.com/73386/114325869-71adaa00-9aef-11eb-8766-a43a89404d4d.png)

I added the link. Need to improve the styling.

[2021-04-12 00:02] doomspork opened #18 "Add a link to the blog in Recent Blog post section on the homepage"
We should add a CTA here to explore the blog further:

![image](https://user-images.githubusercontent.com/73386/114325980-e54fb700-9aef-11eb-89fb-64e6e7bf7324.png)

[2021-04-12 00:38] doomspork opened #19 "Suggestions for improving the blog"
What are some possible improvements to the blog that would help with content discoverability?

Some ideas off the top of my head:

1. Tag cloud
2. Posts by Author
3. Pagination of blog
4. In addition to Recent posts, display a small number of random posts

[2021-04-12 02:28] #17 closed

[2021-04-12 16:58] doomspork opened #20 "Trigger Heroku Deploy Action on merge of elixirschool/elixirschool repo."
This likely needs to wait till the rest of this is complete and move the entire "legacy" repo to the new content. When changes to a lesson or blog post are merged, we need to trigger a deploy of this repository.

[2021-04-13 08:38] jaimeiniesta opened #21 "Trigger HTML / A11Y validation on deploys"
Related to #20 I think we could also add a webhook to notify of deploys on Rocket Validator. This way, an automatic report looking for HTML / Accessibility issues can be run. Here's more info, but basically we just need to `POST` to an URL that contains the trigger:

https://docs.rocketvalidator.com/deploy-hooks/

I can set this up if that sounds like a good idea. All I need to know are the main U

[2021-04-13 14:40] doomspork commented on #21
@jaimeiniesta I think this would be rad! Right now this is running at beta.elixirschool.com.

Do you know if they offer any plans for open source or educational tools? If not that may be okay. Since folks have been asking I've decided to open up accepting donations which will be used for services like this, accessibility improvements, translations, and other community focused initiatives.

[2021-04-13 17:33] jaimeiniesta commented on #21
That's great! Yes, I know _they_ offer free plans for open source because (I thought you already knew) I'm the guy behind Rocket Validator 🚀 😆

I'm already giving free accounts for other open source projects, like [Docusaurus](https://github.com/facebook/docusaurus) - you can see that in return they've included a mention at the bottom of the README - which is very nice but not required.

OK, so if

[2021-04-13 19:06] doomspork commented on #21
I didn't put two and two together :facepalm: I'll send you an email this evening. Thanks so much @jaimeiniesta. Happy to include a README note and find a way to call this out on the site as well :grin:

[2021-04-14 14:37] doomspork commented on #21
Oh boy! This is going to highlight my weak HTML/CSS game :laughing:

https://rocketvalidator.com/s/f31eb8c9-2e6f-4a89-830c-5377559cedd7

[2021-04-15 08:13] jaimeiniesta commented on #21
Hah! Most sites out there have a *lot* more issues than that, no worries 😄

I'll send some PRs to help fix some of them (and also, some issues should just be muted).

[2021-04-15 10:11] jaimeiniesta opened #22 "Broken links to port 80"
I've run a Rocket Validator report on the beta site, and the crawler has found some broken links, on pages that use the `80` port:

https://rocketvalidator.com/s/5a71bc62-29c6-4e85-9ce5-2af0513f1976

Not sure yet if these are direct links or redirections, any idea?

[2021-04-15 10:13] jaimeiniesta commented on #22
Ah yes, definitely those links are on the front page:

![Captura de pantalla 2021-04-15 a las 12 12 54](https://user-images.githubusercontent.com/2629/114853284-eaf51780-9de3-11eb-82e4-ef67d09328fa.png)

[2021-04-15 15:03] appsignal[bot] opened #26 "ArithmeticError happened in SchoolHouseWeb.LessonController#lesson"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/elixirschool/sites/6073b19e14ad66590ce95ae9/exceptions/incidents/5?timestamp=2021-04-15T14:56:44Z

[2021-04-15 15:03] appsignal[bot] opened #27 "RuntimeError"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/elixirschool/sites/6073b19e14ad66590ce95ae9/exceptions/incidents/8?timestamp=2021-04-15T10:05:21Z

[2021-04-15 15:03] appsignal[bot] opened #28 "Phoenix.Template.UndefinedError happened in SchoolHouseWeb.LessonController#lesson"
**Message**

[code]

**Backtrace (last 10 lines)**

[code]

View on AppSignal: https://appsignal.com/elixirschool/sites/6073b19e14ad66590ce95ae9/exceptions/incidents/7?timestamp=2021-04-14T14:34:12Z

[2021-04-15 15:03] doomspork commented on #28
This and #13 are related I would say :+1:

[2021-04-15 15:08] jaimeiniesta commented on #22
I still think this PR is needed, to fully configure the app to run in Heroku (if we're going to use Heroku, that's what I think was planned).

[2021-04-15 15:29] doomspork commented on #22
I'm good with merging if we can remove the SSL redirect until I can see about disable Cloudflare.

[2021-04-15 16:25] doomspork commented on #22
This is currently deploying. We should be good to check if this fixed the issue in ~10 minutes.

[2021-04-15 16:37] doomspork commented on #22
Nice work @jaimeiniesta, this can be closed.

Closed via #23.

[2021-04-15 16:37] #22 closed

[2021-04-15 16:39] doomspork commented on #9
Most of the newer UI I've used has come from TailwindUI which is far better at responsiveness than I. Unfortunately, the header and lesson menu _is not_ and that seems to be one of the bigger issues. I can take a look this weekend to see if there's a better alternative to use in the interest of improving the responsiveness without investing too much time in custom styles and components.

[2021-04-15 17:33] doomspork commented on #28
Just to add to this:

We need a 404 for pages that are truly missing (like a borked path) and a 404 for translations missing with a CTA.

[2021-04-15 17:36] doomspork commented on #2
@elixirschool/developers any thoughts on this one? I'm leaning towards #1 which would also clean up the how headers and table of contents look between pages as many don't use code snippets.

[2021-04-15 19:28] #11 closed

[2021-04-15 20:18] doomspork commented on #5
This and #26 are quasi-related, that will need to be fixed for this to function correctly.

[2021-04-15 20:21] doomspork opened #32 "Code examples for homepage and "why elixir?""
It would be good to identify some examples we can use both on the homepage and the "why elixir?" page to help highlight the features and beauty of the language.

[2021-04-16 08:44] jaimeiniesta commented on #2
I'm not sure as I don't have examples for these, but option number 1 sounds good to me, 👍  for unifying.

[2021-04-16 08:52] jaimeiniesta opened #35 "HTML / A11Y issues"
OK so now that the broken links have been fixed, I've run a new HTML & Accessibility validation report, I'm leaving this as a reference:

https://rocketvalidator.com/s/150a8d31-1783-4adb-bf26-77641ed567b0

I'll be working on fixing those issues in separate PRs - note however that for some of the issues we may just want to [mute](https://docs.rocketvalidator.com/muting/) them if we're OK with them,

[2021-04-21 18:20] #13 closed

[2021-04-21 19:47] #26 closed

[2021-04-21 19:47] #28 closed

[2021-04-21 20:51] doomspork commented on #2
I've addressed this by removing the `` from all the lesson headers.

[2021-04-21 20:51] #2 closed

[2021-04-21 20:51] doomspork commented on #8
@gemantzu let me know if there's anything I can help you with on this one :+1:

[2021-04-27 00:36] #18 closed

[2021-04-27 02:52] #5 closed

[2021-04-28 22:57] doomspork commented on #21
I setup a monthly schedule + deploy hook :tada:

[2021-04-28 23:18] #21 closed

[2021-04-29 04:39] doomspork commented on #35
Progress is progress :tada:

![image](https://user-images.githubusercontent.com/73386/116503096-7c4b9b80-a872-11eb-9c6f-7ce756f215e7.png)

[2021-04-29 08:35] jaimeiniesta commented on #35
Yay! Good work! 💪

Also, look at the [charts](https://rocketvalidator.com/s/150a8d31-1783-4adb-bf26-77641ed567b0/c) with the red going down :)

![Captura de pantalla 2021-04-29 a las 10 34 20](https://user-images.githubusercontent.com/2629/116523393-78e9fb80-a8d6-11eb-989c-20180bd91b9f.png)

[2021-04-29 08:43] jaimeiniesta commented on #21
That's great!

Are you using a webhook for the deploys? What integration are you using to launch it?

[2021-04-29 13:48] doomspork commented on #21
I went the simple route for now and used the Heroku Webhooks addon. I set the schedule up to be 25 pages. I figure so long as there are shared issues between them there isn't much point in running it on a larger segment. We can work up to that :grin:

[2021-04-29 15:07] doomspork commented on #35
Thank you for the help and generosity @jaimeiniesta :grin:

By the way if you would like I can remove you from the CODEOWNERS file so you're not tagged on all PRs, I don't want to generate too much noise for you.

[2021-04-29 18:51] doomspork commented on #35
@jaimeiniesta is there a way for us to provide a static link that always points to our latest report? :thinking:

[2021-04-29 21:05] #8 closed

[2021-04-30 08:28] jaimeiniesta commented on #35
No problem! I'm happy to contribute.

Yes, maybe it's a good idea to remove me from CODEOWNERS, I'll keep an eye on the repo at my own pace, thanks!

There is no way to redirect to the latest report but that's a good idea, I'll think about this.

[2021-04-30 08:48] jaimeiniesta commented on #21
That's a wise decision. I prefer to start small, validating a small amount of web pages, and then increase the number when you consider the site free of issues, but you can still monitor for new issues.

[2021-04-30 08:58] jaimeiniesta commented on #35
I'm open for ideas on how to share the latest report for a given site. Currently, reports are semi-public, that is, no authentication is needed to see them, but the URL is hard to guess, like:

https://rocketvalidator.com/s/150a8d31-1783-4adb-bf26-77641ed567b0

This way it's easy to share a report with anyone, just by passing the URL.

Now, I could add something like

https://rocketvalidator.com/s

[2021-05-01 09:05] jaimeiniesta commented on #35
Another idea would be integrating the [Rocket Validator API](https://docs.rocketvalidator.com/api/) into Elixir School so we could have an accessibility statement page showing our efforts in making the site accessible - with links to the latest report, and explanation of the muting rules applied. If you think that's a good idea I can send you a PR.

[2021-05-01 16:17] jaimeiniesta commented on #35
I have a better idea - I'm going to introduce a new feature to have public dashboards - a user can create many public dashboards, where he can include the reports for the URLs he wants. A dashboard has a unique UUID, is public but hard to guess just like the reports.

For example, you'll be able to create a dashboard to include the latest reports for elixirschool.com - other users may create diffe

[2021-05-04 15:21] doomspork commented on #35
@jaimeiniesta I removed you from CODEOWNERS this morning. Sorry it's taken me a few days to get back to you on this.

Just for context: I was curious about how we could expose our latest report/dashboard in the footer and Get Involved page. This would serve as a shout out to you and RocketValidator in addition to providing a way for users to see opportunities to contribute.

I'm happy to toss arou

[2021-05-05 06:31] jaimeiniesta commented on #35
Thanks @doomspork !

I'll come back in some days with a PR, as soon as I get some free time to work in that - we're in the middle of a big refactor.

Yes, the public dashboard will be read-only for non-owners.

[2021-05-09 16:04] doomspork opened #51 "Add a Conferences directory"
I'd like to add a page that lists conferences for Elixir and the BEAM ecosystem. A couple thoughts we could think about and consider:

1. Allow sorting by country
2. Online vs in-person sorting
3. List each time and place the conference has occurred. This helps people tell which ones are established and which are newer.
4. Consider listing previous talks and link to the videos/content?
5. ???

[2021-05-09 16:04] doomspork opened #52 "Add a Podcast directory"
Following up on #51 it would be awesome to do the same for Podcasts.

[2021-05-11 00:28] doomspork commented on #52
Started on this in #53

[2021-05-11 13:32] doomspork commented on #32
It would be awesome to identify a couple of examples that could leverage https://asciinema.org/ to demonstrate changes over time.

[2021-05-11 13:46] doomspork opened #54 "Implement RSS feed support for the blog"
We have this one the existing site. It would be great to get this moved over.

See: https://github.com/elixirschool/elixirschool/blob/master/feed.xml

[2021-05-11 14:14] #52 closed

[2021-05-11 14:58] doomspork opened #55 "Homepage stats on Elixir adoption and community"
To help drive home the awesomeness of Elixir, the community, and the ecosystem as a whole stats would be great. Some ideas:

- Number of conferences
- Number of podcasts
- Number of translations on Elixir School
- Number of companies (see: elixir-companies.com)
- Number of countries with an Elixir presence (meetups/conference/etc)
- Number of Hex packages

[2021-05-17 02:54] kinson commented on #10
@doomspork do you mind if I take a stab at this?

If not, where is this image from? I cloned the repo and spun up the web app but it is not there and the dark mode control on elixirschool.com looks different.

[2021-05-17 02:58] doomspork commented on #10
Howdy @kinson _absolutely_ :heart: I would love the help :tada:

I "photoshopped" the image as just an idea for how this could be done. I'm open to other suggestions :grin:

@burden did bring up a good point that we should move the Locale menu somewhere else (we're also going to improve the responsiveness of the Lesson menu). This could take the place of that drop down.

[2021-05-17 04:28] kinson commented on #10
Sweet, that's a great jumping off point!

I'll start by adding a new dark mode control next to the drop down and enabling a dark theme with Tailwind.

Once there is something to look at, if it still makes sense to move the drop down menu somewhere else I can do that.

Thanks for the quick reply and guidance here ✌🏼

[2021-05-17 18:57] doomspork commented on #10
Very excited to see how you implement the dark mode. I'll be the first to tell you I'm not super well versed in the UI/UX side of things so this will be a learning experience for me :tada:

Thanks so much for helping out :pray:

[2021-05-23 00:03] kinson commented on #10
@doomspork it was a learning experience for me as well, but the pr is up for review now (#56)!

And glad to help 😄

[2021-05-28 02:25] kinson commented on #10
@doomspork since I have some momentum now I think I'll work on another issue! Before I pick one, is there one that comes to mind that would make the most sense to work on next?

[2021-05-28 23:01] kinson commented on #10
@doomspork unless there is something I missed, I think this issue can be closed!

[2021-06-03 16:03] doomspork commented on #10
Sorry @kinson, I was on vacation last week (first time in 2 years 😌)!

The only real pressing priority UI wise (that I am currently aware of) is the responsiveness of the lesson menu but I think I can leverage my license for TailwindUI to find something that works without any of us having to invest too much time in that particular task.

I'm open to any thoughts you have!

[2021-06-03 16:03] #10 closed

[2021-06-03 16:10] #27 closed

[2021-06-04 00:56] kinson commented on #10
@doomspork no worries at all, I hope it was a good break!

I am working on the conferences page (#51) right now. I can take a look at the responsiveness issue next if it still needs to be done.

[2021-06-11 18:55] #51 closed

[2021-06-11 19:03] doomspork opened #59 "Road to Launch"
I'm going to use this issue to outline what remains to get this iteration of Elixir School live 🚀

__Must Have__
1. Update Lessons menu to be more responsive. cc @burden
1. ~Move gettext into external repo to keep translation materials together. Note: The downside here is keeping them updated. I will tackle this.~
1. ~Automated deploys for changes to both repositories #20~
1. Announcement blog pos

[2021-06-11 19:09] SophieDeBenedetto commented on #55
❤️ LOVE this idea! Maybe number of Elixir courses? Between Udemy, Pluralsight, learn-elixir.dev, pragmatic studio, etc. there are quite a few out there now.

[2021-06-11 23:46] kinson commented on #59
@doomspork I am taking a stab at the first item on the must have list right now as a part of #9 . If you'd rather `@burden` (avoiding re-notifying them) tackle it, I help with something else on this list!

[2021-06-12 00:04] doomspork commented on #59
@kinson have at it! I think Mike is pretty swamped with work lately so I'm not sure what his availability is.

[2021-06-13 03:45] doomspork commented on #59
@gemantzu as a translator what are your thoughts on 2:

Right now the gettext for Phoenix is in this repo and includes some content that needs translation. Everything else lives in the original repository.

[2021-06-13 06:39] gemantzu commented on #59
I would say that if we won't have them inside the elixirschool lessons repo, don't move them, a third repo will overcomplicate things for translators. And would there be any benefit from that? when will you know when to force an update in the application if a gettext translation has changed? is there a way to automate this as well?

[2021-06-13 15:19] doomspork commented on #59
I'm suggesting moving them from https://github.com/elixirschool/school_house into https://github.com/elixirschool/elixirschool, alongside the lessons/posts.

[2021-06-13 15:32] doomspork commented on #20
https://github.community/t/triggering-by-other-repository/16163

[2021-06-13 15:45] doomspork commented on #20
#61 and https://github.com/elixirschool/elixirschool/pull/2603 should do the trick. I'll be testing that today.

[2021-06-13 17:08] doomspork opened #62 "Create a Mix Task to generate a sitemap.xml"
This would need to include all of the blog posts, every lesson + locale variant, and other supplement pages.

[2021-06-13 17:18] doomspork commented on #20
This is working now. There is a separate issue with the newest post having some bad markup which failed the build. I'll sort that out 👍

[2021-06-13 17:18] #20 closed

[2021-06-13 17:19] doomspork commented on #59
Merges of new content to elixirschool/elixirschool will now trigger a deploy here. There's an issue with the deploy (separate of that) that I need to resolve.

@kinson I just realized we're both in Denver 🎉  We should grab coffee one day, my treat 😁

[2021-06-13 18:23] kinson commented on #59
@doomspork great idea! I am not sure what your preferred method of chat is, but feel free to send me an email at swilkinsonhunter@gmail.com and we can find a time & place that works!

[2021-06-13 23:26] doomspork commented on #59
Email sent 🚀

I felt super motivated this weekend so I've been working my way through the list. I've got a PR open for sitemap and rss mix tasks #64 if someone wants to take a peek. There's also #60 which I updated to reply on a Makefile instead of mix task so it was easier to use in Docker pre-compile.

[2021-06-15 01:36] doomspork opened #66 "Docker build is broken"
While I had tested #60 I must have missed something as docker no longer builds and as such deploys are broken. I'll try to look into this tonight 👍

[2021-06-24 16:35] kinson commented on #66
Closed by #67.

[2021-06-24 16:35] #66 closed

[2021-06-24 16:37] kinson commented on #9
@doomspork is there any more changes that should be made before this issue gets closed?

[2021-06-24 17:42] doomspork commented on #9
I think we can close this for now @kinson and create specific tickets for issues that come up.

By the way @kinson this is the last run of Rocket Validator: https://rocketvalidator.com/s/e835d94c-5a08-46f2-bb79-a6ebaa65d2dc

[2021-06-24 17:43] #9 closed

[2021-07-03 02:23] #54 closed

[2021-07-14 01:44] kinson opened #73 "Populate Remaining Empty Links"
There are several links on the home page that have no corresponding page on the website. @doomspork should we create new pages for each of them?

Here are the ones I've noticed - I may be missing a few:

**Header:**
- [x] Get Involved
- [x] Support

**Footer:**
- [x] Blog > Announcements
- [x] Blog > Today I Learned
- [x] Blog > Reviews
- [x] Project > Contributors
- [x] Project > Get Involved
- [

[2021-07-14 01:46] kinson commented on #62
@doomspork mind if I close this issue or is there remaining work?

[2021-07-14 01:48] #55 closed

[2021-07-14 01:53] doomspork commented on #73
Yes we need a new page here. I don't 💯  know what I wanted to capture here but essentially a few CTAs for different opportunities to contribute:

1. Translations. This could include steps to how to translate or link out to another new page depending on how much content we have for that.
2. New content. This could direct people to the Issues on the content repo maybe with a `new-lesson` label filte

[2021-07-14 01:54] #62 closed

[2021-07-14 01:54] doomspork commented on #59
I've started on the blog post for this announcement 👍

[2021-07-17 23:22] kinson opened #74 "Create "Get Involved" Page"
We should create a page that describes how someone can contribute to elixir school. These include:

* Translations. This could include steps to how to translate or link out to another new page depending on how much content we have for that.
* New content. This could direct people to the Issues on the content repo maybe with a new-lesson label filter?
* Blog posts.
* ??

Split from #73

[2021-07-17 23:26] kinson opened #75 "Enable Filtering for Blog Posts"
Right now in the footer of the website there are three links that should link to a list of blog posts filtered by their associated tag. We need to implement the filtering logic and update the following links:

* Blog > Announcements
* Blog > Today I Learned
* Blog > Reviews

Split from #73

[2021-07-17 23:28] kinson commented on #73
@doomspork should we remove the support button for now then?

[2021-07-17 23:36] doomspork commented on #73
@kinson that works for me 🙌

[2021-07-17 23:41] kinson commented on #73
Thanks for sorting this out! I created #74 & #75 & #76 to address the remaining pieces of work.

[2021-07-17 23:41] #73 closed

[2021-07-21 07:25] jaimeiniesta opened #77 "HTML / Accessibility validation"
Hello!

As we talked in https://github.com/elixirschool/school_house/issues/35 we're using Rocket Validator to check for HTML and Accessibility issues in the new site for Elixir School.

I've set up a weekly schedule to run site-wide reports, and the new domain stats feature (now in beta) gives the latest reports run for that domain, and some nice stats showing the evolution in the number of issue

[2021-07-21 07:25] jaimeiniesta commented on #35
Closing this in favor of https://github.com/elixirschool/school_house/issues/77

[2021-07-21 07:25] #35 closed

[2021-07-21 13:27] jaimeiniesta commented on #77
I've muted some issues, for example those related to `phx-` attributes (required by Phoenix), and those related to `x-` attributes, needed for Alpine:

https://rocketvalidator.com/domains/beta.elixirschool.com?tab=mutings&date=&auth=e536facf-2cba-4288-ba45-3e7b95addcf8

If there are more issues like this that we should mute (as are out of our scope, so we won't fix them) please let me know!

[2021-07-21 15:28] doomspork commented on #77
Thank you so much @jaimeiniesta! I am going to start going through the new features you released later this week, super excited for this!

[2021-07-21 16:48] jaimeiniesta commented on #77
No problem, I'll be eating my own dog food and using Rocket Validator to find and fix issues in School House. So expect some PRs :)

By the way if anyone is interested in getting free account for open source just ping me at jaime AT rocketvalidator DOT com and I'll set you up.

My recommended flow is using ngrok to open a local tunnel into your dev machine so you can validate while you develop:

h

[2021-07-21 16:50] jaimeiniesta opened #78 "Error during make setup"
I was setting up the repo and run into this when running `make setup`:

[code]

[2021-07-21 16:52] doomspork commented on #78
@jaimeiniesta I or @kinson will take a peek today. I'm in meetings for a bit at the moment though.

[2021-07-21 17:00] jaimeiniesta opened #79 "Elixir version?"
I think we should set a required Elixir version, currently in mix.exs it says 1.7.0 but that's quite old, is there any reason not to use 1.12?

Maybe we can add a `.tool-versions` file like it's done in asdf, or maybe it's enough with specifying it in the README?

[2021-07-21 17:01] doomspork commented on #79
This is a great idea. I'm 💯  on board!

[2021-07-21 17:06] jaimeiniesta commented on #79
Alright I'll send a PR to upgrade to 1.12

[2021-07-21 17:12] jaimeiniesta commented on #78
It looks like a false alarm, I removed the directory and cloned the repo again, everything works fine this time!

I guess I had some old files lying around...

[2021-07-21 17:12] #78 closed

[2021-07-21 17:22] #79 closed

[2021-07-21 17:23] doomspork commented on #77
@kinson was asking me the other day how he could test changes locally 🎉

@jaimeiniesta just so you're aware I'm trying to aim for us to launch this new site in the next 2 weeks. I'm afraid with my upcoming schedule (buying a house, moving, big work project) that if we don't do it now, it may not come to be for many moons.

[2021-07-21 17:35] jaimeiniesta commented on #77
@kinson ping me with your email and I'll set a free account for you so you can test changes locally.

@doomspork tight schedules are great for focusing :D

[2021-07-22 17:18] kinson commented on #77
@jaimeiniesta my email is swilkinsonhunter@gmail.com , thanks for adding me and thanks for finding and fixing all of these issues!

[2021-07-22 18:15] jaimeiniesta commented on #77
Hey @kinson I'll send you an email with instructions!

We're making good progress! Just by fixing some of the HTML issues, take a look at the issue density graphs:

## [HTML issue density](https://rocketvalidator.com/domains/beta.elixirschool.com?tab=html&date=&auth=e536facf-2cba-4288-ba45-3e7b95addcf8)

![Captura de pantalla 2021-07-22 a las 20 09 43](https://user-images.githubusercontent.com/262

[2021-07-22 18:18] doomspork commented on #77
Wow! That's really awesome. I would very much like to highlight the work you both have done with this A11Y stuff, I don't feel as though it is widely known or understood.

Do you think there's merit in writing a short blog post on Elixir School just about these efforts? While it may not directly relate to Elixir it's important for the health of the community and the internet 🎉

@jaimeiniesta the U

[2021-07-22 18:25] jaimeiniesta commented on #77
Hey @doomspork I'm happy to help!

Yes, that URL is going to be static - as long as I keep it shared, which I plan to do. I mean, it's a "shared link" on the new Domain Stats feature. You may want to set your own but as you're busy, I'm happy with keeping mine.

I'll be happy to write a short blog post explaining how we're crushing those issues. I can explain our setup, and maybe also mention what

[2021-07-23 08:45] jaimeiniesta opened #85 "Locale menu generates broken links"
When working at validation I was surprised to see that Rocket Validator had found 4,273 web pages in the site so I decided to have a look at the [list of web pages](https://rocketvalidator.com/s/21292e1d-d8ed-4411-b8c2-1fc831f91027/p) found.

![Captura de pantalla 2021-07-23 a las 10 35 48](https://user-images.githubusercontent.com/2629/126757106-f27f667f-0d46-4c19-b6a3-ce534cce4b6a.png)

The web

[2021-07-23 08:59] jaimeiniesta commented on #85
OK to generate the URLs for all the languages we're doing this:

https://github.com/elixirschool/school_house/blob/master/lib/school_house_web/views/html_helpers.ex#L16-L18

Which basically finds the first occurrence of the current language, and replaces that for the rest of locales.

This works fine when the URL contains the language, that is, for the routes that are within the `scope :locale` pa

[2021-07-23 09:12] jaimeiniesta commented on #85
I have a draft PR where I've fixed the locale menu - it leaves the URL unchanged if there's no locale part in it. Which makes it useless in those URLs, so I think we should hide the locale menu when there's no locale in the URL, or make the locale present in all the URLs.

[2021-07-23 09:30] jaimeiniesta opened #87 "Locale menu should validate current locale"
https://beta.elixirschool.com/klingon makes it think like we're supporting that language, but we're not :D

![Captura de pantalla 2021-07-23 a las 11 29 38](https://user-images.githubusercontent.com/2629/126763370-51e4350a-c3ed-42a9-b841-4e4e85483747.png)

[2021-07-23 13:36] #85 closed

[2021-07-23 20:30] kinson commented on #77
@jaimeiniesta I am trying to understand how muting rules work on RV. Is a muting rule tied to a specific domain or to a specific run by a particular user?

For instance, if I wanted to mute a rule like [this](https://rocketvalidator.com/s/0bdee490-cff7-495a-95a3-40211cd2b5cd/p/4678413/i?search=Attribute+%E2%80%9Ccontent%E2%80%9D+not+allowed+on+element+%E2%80%9Cmeta%E2%80%9D+at+this+point.&non_doc=

[2021-07-23 20:32] kinson commented on #87
😲 good catch! If you are not already working on a fix, I'll take a look this weekend. @doomspork my assumption is that we would want to redirect the user to `/` if they try to navigate to a locale that does not exist.

[2021-07-23 20:56] jaimeiniesta commented on #77
@kinson each user has his own muting rules. So the rules you define apply only to your reports. We should agree on what rules to apply.

A muting rule is formed by a URL match and a message match. For example these are the rules I've defined in my account

https://rocketvalidator.com/domains/beta.elixirschool.com?tab=mutings&date=&auth=

In that example there are 3 rules, the first one means: _mut

[2021-07-23 21:01] jaimeiniesta commented on #87
@kinson please go ahead with this, I didn't plan on fixing it yet. Both redirecting to `/` or defaulting to the `en` locale sound good to me.

[2021-07-23 21:12] jaimeiniesta opened #88 "Dark mode white flash"
How can we avoid that white flash when browsing in dark mode?

I'm not sure how the dark mode is activated, but it looks like each request renders the pages in white mode and then it's switched to dark, which is quite confusing.

[2021-07-23 21:19] kinson commented on #88
@jaimeiniesta ill take a look at this too. I was able to eliminate the white flash on initial implementation, but it seems to be back again about half the time the page is reloaded.

[2021-07-23 21:25] kinson commented on #77
Thanks for the explanation, do you have a proposal for how we should set the muting rules for the project? Perhaps a json or yaml file with the muting phrases listed for the domain.

[2021-07-24 06:58] jaimeiniesta commented on #77
I'm writing a quick guide explaining how we use Rocket Validator in this project, as a markdown file. I think we can include them in that document by now.

[2021-07-25 01:48] #74 closed

[2021-07-25 07:53] jaimeiniesta opened #92 "Add new pages to sitemap.xml"
The new https://beta.elixirschool.com/en/get_involved URL and all their translations should be added to https://beta.elixirschool.com/sitemap.xml

[2021-07-25 08:02] #87 closed

[2021-07-25 08:53] jaimeiniesta opened #94 "HTML issues with meta tags"
The most common HTML issues we have are related with `<meta>` tags generated by Phoenix:

https://rocketvalidator.com/s/0bdee490-cff7-495a-95a3-40211cd2b5cd/i?search=meta

There are all sort of issues but in the end it's just one line in the layout:

https://github.com/elixirschool/school_house/blob/master/lib/school_house_web/templates/layout/root.html.leex#L6

[code]

This function comes from Ph

[2021-07-25 10:19] jaimeiniesta commented on #94
Here's how PhoenixHtml generates those attributes, they're fixed:

https://github.com/phoenixframework/phoenix_html/blob/master/lib/phoenix_html/tag.ex#L13-L14

I think that the generated meta tag could be decomposed in 3:

[code]

Of those 3, the first 2 ones are valid but the last one is not. I can't think of a way to make that valid. So unless you have a better approach, or feel safe removing t

[2021-07-25 12:29] jaimeiniesta commented on #94
Related:

https://github.com/phoenixframework/phoenix_html/issues/294

[2021-07-25 14:38] kinson commented on #94
1) Thank you for going down this rabbit hole, I never thought I'd spend Sunday morning learning about acceptable `<meta />` tag contents 😆
2) Is Jose human? He reopened the year old issue and put in a change for it within an hour of your comment! Incredible 👏

It looks like we can omit the last tag for now then 🎉 and go back to the built in Phoenix helper once the next version of Phoenix is out, r

[2021-07-25 15:18] jaimeiniesta commented on #94
Yes, José is awesome :)

It was fun to find my past self asking for this same issue one year ago 😆

I'll change that part to this until they release the next version:

[code]

[2021-07-25 15:50] jaimeiniesta opened #96 "Error on populate_surrounding_lessons"
Some lesson URLs are raising an error:

https://beta.elixirschool.com/en/ecto/querying_basics

[code]

[2021-07-25 15:55] jaimeiniesta opened #97 "GR is not a valid ISO language code - use EL instead"
Caught here:

https://rocketvalidator.com/s/0bdee490-cff7-495a-95a3-40211cd2b5cd/i/112946387

Correct code for Greek seems to be `el`.

[2021-07-25 16:26] #94 closed

[2021-07-25 16:26] #92 closed

[2021-07-25 16:31] kinson commented on #88
Closed by #89

[2021-07-25 16:31] #88 closed

[2021-07-25 16:50] jaimeiniesta opened #99 "Duplicate IDs in table of contents"
There are some duplicate IDs generated by the table of contents for the lessons:

https://rocketvalidator.com/s/0bdee490-cff7-495a-95a3-40211cd2b5cd/i?search=duplicate+ID

For example, in https://beta.elixirschool.com/en/ecto/associations there are 2 sections titled "Many to Many":

* Types of Associations > Many To Many
* Saving Associated Data > Many To Many

![Captura de pantalla 2021-07-25 a l

[2021-07-25 17:02] jaimeiniesta opened #100 "Broken images in blog posts"
There are some blog posts where the images are not being properly rendered:

https://rocketvalidator.com/s/0bdee490-cff7-495a-95a3-40211cd2b5cd/i?search=Bad+value+“%7B%25+&page=1&non_doc=false

It complains about "Bad value “{% asset " and the images are broken. For example in https://beta.elixirschool.com/blog/live-view-with-channels

![Captura de pantalla 2021-07-25 a las 19 01 23](https://user-

[2021-07-25 18:35] doomspork commented on #100
_Most_ of this should be fix in the content branch. However, anyone adding new content is bound to add stuff that gets messed. We're going to want to work through all of the blogs once we're on the launchpad

[2021-07-25 21:41] jaimeiniesta commented on #100
Alright, then I'll just mute those issues, we should review all the content before launch.

[2021-07-25 21:41] #100 closed

[2021-07-25 22:46] #97 closed

[2021-07-26 11:17] jaimeiniesta opened #105 "Broken links in sitemap.xml"
The latest report by RV has found many broken links, where the locale part is at the end of the URL

https://rocketvalidator.com/s/624562a6-bdbe-4411-9c28-3652a4887982/p?page=1&search=&sort=url-asc

![Captura de pantalla 2021-07-26 a las 13 15 48](https://user-images.githubusercontent.com/2629/126980322-6974d0a0-be27-4717-a67d-f41cff48d058.png)

We need to find where these URLs are being generated

[2021-07-26 12:03] jaimeiniesta commented on #105
RV reports that the broken links were generated in the [sitemap.xml](https://beta.elixirschool.com/sitemap.xml) file:

https://rocketvalidator.com/s/624562a6-bdbe-4411-9c28-3652a4887982/p/4680822

![Captura de pantalla 2021-07-26 a las 14 02 32](https://user-images.githubusercontent.com/2629/126985592-1330538b-332d-40c7-babb-44ca5311439d.png)

[2021-07-26 12:36] jaimeiniesta commented on #105
I'm taking a look at fixing this.

[2021-07-26 15:29] jaimeiniesta commented on #77
OK so we're almost at [0 HTML issues](https://rocketvalidator.com/domains/beta.elixirschool.com?tab=html&date=&auth=e536facf-2cba-4288-ba45-3e7b95addcf8) (pending some content fixes) so I'll be focusing now in the accessibility checks!

[2021-07-26 15:30] jaimeiniesta opened #108 "Beta site is down"
Hey https://beta.elixirschool.com/ is down...

[2021-07-26 15:56] doomspork commented on #108
Yup! @kinson and I both looked and we're not really sure why. One of the recent merges seemed to kill the deploy. I am busy for most of the morning but will look over lunch.

[2021-07-26 15:56] doomspork commented on #108
Magic...apparently

[2021-07-26 15:56] #108 closed

[2021-07-26 16:00] jaimeiniesta commented on #108
Yay! Ngrok was also being super slow, maybe there was a temporary network megaissue somewhere.

[2021-07-26 16:29] jaimeiniesta opened #109 "Increasing contrast"
Our main accessibility issue is low contrast in some parts of the text, specially code:

https://rocketvalidator.com/s/2f3a096c-1324-48e9-ace7-e8f0d6385eee/v/15063853

I'm working on increasing the contrast of some colors, but it would really help if we increased the font size a bit in general. What do you think? Is there a CSS class to set the base font size?

[2021-07-26 16:30] jaimeiniesta commented on #109
On the RV report, clicking on an affected web page shows the elements with low contrast, for example:

https://rocketvalidator.com/s/2f3a096c-1324-48e9-ace7-e8f0d6385eee/p/4681839/v?search=Elements+must+have+sufficient+color+contrast

[2021-07-26 16:31] doomspork commented on #109
I'm onboard with _any and all_ improvements in this area. I will be the first to tell you I know 0 about this part of design (or really design or color theory in general 😆 ).

I think much of this can be configured via Tailwind. I will look into that today for you. @kinson may know off the top of his head.

[2021-07-26 17:32] kinson commented on #109
@jaimeiniesta thanks for opening this issue - I have been meaning to get around to the remaining contrast issues 😅

If I remember correctly, most of the contrast issues are tied to the code syntax highlighting colors defined in our css file. Instead of changing them incrementally, it may be better to find a higher contrast syntax highlighting theme from here: https://tmbb.github.io/makeup_demo/eli

[2021-07-26 18:19] #105 closed

[2021-07-26 21:42] jaimeiniesta commented on #109
@kinson sure, I think that choosing a theme with higher contrast is a better option.

Do you want to take care of contrast issues? I recommend installing the [axe-core Chrome extension](https://chrome.google.com/webstore/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd) which is useful for checking individual web pages while you develop.

[2021-07-26 22:30] kinson commented on #109
Yeah I'll tackle that soon! Thanks for the tip that's much better than the website I was using before 🚀

[2021-07-27 10:00] jaimeiniesta commented on #109
Cool! Also remember to check the contrast in dark mode as well -- Rocket Validator is only taking into account the default mode, the light mode.

If we want RV to be able to check the dark mode we should think of a way to set it via a URL parameter, do you think this could be easily implemented? Something like `?ui=dark` to trigger dark mode in any URL? This way we can make the `sitemap.xml` pass

[2021-07-27 15:53] kinson commented on #109
I was just noticing the other day that the purple I chose for dark mode is pretty low contrast so that is a good idea! Aside from accessibility concerns, checking for contrast on dark mode should highlight any obvious spots that were missed when implementing it.

I'm interested in figuring this out, so I'll take a stab at this soon.

[2021-07-28 23:32] kinson commented on #109
@jaimeiniesta (or @doomspork ) Adding a dark mode url parameter is pretty straightforward. However, I am curious if there is any concern with generating links in the site map for every page using dark mode. This would double the number of links and would require generating links in light and dark mode for each language for each page. That is totally doable, but before I do I want to make sure ther

[2021-07-29 07:08] jaimeiniesta commented on #109
@kinson my idea is not to include the url parameter in every link generated in the sitemap by default, and instead have an option for us to generate that, so it can be used by Rocket Validator only. Some sites even have dedicated sitemaps to use with Rocket Validator, for example one of our clients makes its sitemap accept pagination, so he can split a large site with 25,000 in 3 reports of 5,000

[2021-07-29 11:22] jaimeiniesta opened #111 "Table of contents fails on international characters"
Detected on https://rocketvalidator.com/s/4ec0b390-f775-4db1-87a4-ced8f5ece619/p/4686420/i

It looks like the tables of contents for lessons does not generate the headings when those contain non-English characters.

While in the legacy site it works fine:

https://elixirschool.com/es/lessons/specifics/mnesia/#inicialización-de-datos-y-migración

the beta site doesn't work OK:

https://beta.elixirs

[2021-07-29 23:48] kinson commented on #109
Yep, that makes sense, I will update the sitemap page to handle that.

[2021-07-30 01:16] kinson commented on #109
@jaimeiniesta because we generate the static sitemap files ahead of time, I have created a new static file for dark mode links (`/sitemap_dark_mode.xml`) in #113. I worked on the contrast issues (and checked it to some extent with rocket validator locally) in #112.

Finally, I will create another pr to increase the base font size in the tailwind config so we can close this particular issue out (as

[2021-07-30 14:10] jaimeiniesta commented on #109
OK, so now that the new dark mode sitemap is live, I've set up another daily report on that.

Here are the results for today, it looks like there are still some contrast issues (I think those are in the table of contents for the lessons as we discussed yesterday)

https://rocketvalidator.com/s/fc7595fe-cf17-4601-9417-f04291deba04/v/15078845

[2021-07-30 14:11] jaimeiniesta commented on #109
For the record, here's how I've set up the report for dark mode. It gets the new sitemap as a starting URL, and only checks accessibility. Also, deep crawling is disabled so that it doesn't follow the initial links, and only considers the ones in the sitemap.

![Captura de pantalla 2021-07-30 a las 16 06 11](https://user-images.githubusercontent.com/2629/127665573-9d6e8618-b736-404a-a7e7-339a29a0f

[2021-07-30 22:16] kinson commented on #109
@jaimeiniesta I went ahead and merged #112 and ran a couple RV tests (with 200 pages).

The good:
* Most of the contrast issues are fixed on the "light" themed site

The Not As Good:
* The dark mode report is returning a bunch of contrast issues that I cannot reproduce. I have been using Google Chrome's built in "CSS Overview" feature because the axe core extension kept giving me the "pseudo eleme

[2021-07-31 09:56] jaimeiniesta commented on #109
Well automated tests are not to be taken as the ultimate truth, as axe-core says, it's not completely sure about some of those issues, so it just raises a flag there and then we take a look and decide, using other tools as you just did.

Rocket Validator uses the latest axe-core, at a resolution of 800x600 (so be sure to resize your browser to that size before you run the axe chrome extension, to

[2021-08-06 03:44] kinson commented on #111
I took a look at this and the culprit appears to be the `@headers_regex` in the `SchoolHouse.Content.Lesson` module. The regex scans the body of the lesson and finds header tags to construct the TOC. Right now, the regex does not include accented characters in the main capture group.

I am not familiar with capturing accented characters in regex so I went to Stack Overflow of course and found this

[2021-08-06 06:45] jaimeiniesta commented on #111
Sounds fine, here are some accented character I can think of, to include in your tests:

[code]

and in uppercase:

[code]

[2021-08-06 06:50] jaimeiniesta commented on #111
Also, found this - there's a regex match for international characters!

https://davidwalsh.name/regex-accented-letters

[2021-08-07 01:06] kinson commented on #111
Thanks for sharing that link, that's a much better approach. I tried using `\p{Letter}` and got an error but I was able to find [the solution](https://www.toptechskills.com/elixir-phoenix-tutorials-courses/how-to-match-any-unicode-letter-with-regex-elixir/) pretty quickly: `\p{L}`

[2021-08-07 22:09] kinson opened #123 "Update Translation Report Color Scheme"
# Overview

Right now there are a lot of accessibility issues with the translation report page related to insufficient color contrast.

The colors used here should be updated to be generally more readable and ideally fix the accessibility issues.

# Screenshots
<img width="1440" alt="Screen Shot 2021-08-07 at 4 06 58 PM" src="https://user-images.githubusercontent.com/1526888/128614993-063ac9e3-4b7

[2021-08-08 14:03] #111 closed

[2021-08-11 11:22] sbinlondon commented on #75
Hi there, is this issue still up for grabs?

[2021-08-11 12:13] kinson commented on #75
Totally! And don't hesitate to follow up if you have any questions or need clarification!

[2021-08-13 23:25] kinson commented on #123
Closed by #124

[2021-08-13 23:25] #123 closed

[2021-08-14 23:33] kinson commented on #109
@jaimeiniesta do you mind re running the report using the "official" set of reports [mentioned in the ROCKET-VALIDATOR.md file](https://github.com/elixirschool/school_house/blob/master/ROCKET-VALIDATOR.md#shared-domain-stats)? I think we are pretty close to having each of the contrast issues resolved.

[2021-08-16 08:40] jaimeiniesta commented on #109
@kinson sure, I just run the reports for the light and dark modes.

[2021-08-16 16:38] #109 closed

[2021-08-17 21:59] kinson commented on #96
The fix for this is now included in #127

[2021-08-18 22:53] kinson commented on #75
Implemented in #125 🎊

[2021-08-18 22:53] #75 closed

[2021-08-28 08:20] jaimeiniesta opened #128 "Duplicate p end tag in excerpts"
A recent commit has introduced this HTML issue:

https://rocketvalidator.com/s/6f75c943-9b77-4f5d-a87d-1dfc6094c551/i/113585449

Clicking on the details for a page affected, you can see the lines where this appear on the code, for example:

<img width="826" alt="Captura de pantalla 2021-08-28 a las 10 18 02" src="https://user-images.githubusercontent.com/2629/131211440-dd3c7e14-e016-4a7d-9364-14b0

[2021-08-28 21:42] kinson commented on #128
Good catch by RV! While we obviously don't want unnecessary tags, I am curious why this was reported error:

`An end tag </p> has been found that cannot be matched for an opening tag <p>. Most of the times this is due to closing the same tag twice, for example:`

Looking at the report (and your example), it appears that there is not a missing `<p>` tag, just an extra set of `<p>` tags. Am I misund

[2021-08-28 21:47] #128 closed

[2021-08-28 22:05] jaimeiniesta commented on #128
Well it looks like this has been fixed in #129 - I've re-checked the affected pages and the issue is gone!

@kinson I believe the issue was correct, from my screenshot you can see an extra closing `</p>` tag, like `<p class="excerpt">some text</p></p>`, right?

[2021-08-28 22:08] jaimeiniesta commented on #128
Ah @kinson now that I see it better, the problem was a nested `<p>` inside another `<p>`. If you go to the [w3c validator](https://validator.w3.org/nu/#textarea) you can check this is incorrect:

[code]

[2021-08-28 22:09] kinson commented on #128
To me it looks like in the example you posted there is an opening tag on line 519 & 520 and then a closing tag on lines 521 & 523 - so 2 opening tags and 2 corresponding closing tags.

[2021-09-24 01:27] #59 closed

[2021-09-24 22:06] doomspork opened #135 "Add "coming soon" badge to lessons in the menu"
We have support for "coming soon" lessons in the menu but we don't have any call out other than a disabled cursor. @kinson suggested using a badge 👍

[2021-09-24 22:07] doomspork opened #136 "Remove Dialyzer from CI"

[2021-09-25 01:34] doomspork opened #137 "External links should open a new window"
These homepage links should open a new window

![image](https://user-images.githubusercontent.com/73386/134753368-136a3402-c541-4aa4-a549-439de042b943.png)

[2021-09-25 01:36] doomspork opened #138 "Remove newsletter signup"
We haven't implemented the newsletter functionality. We need to remove it from the site for now.

![image](https://user-images.githubusercontent.com/73386/134753485-8148505c-1283-4ed1-896e-124db7e267e6.png)

[2021-09-25 01:57] doomspork commented on #137
@burden @kinson either of you want to grab this?

[2021-09-25 02:34] kinson commented on #137
@doomspork based on the [w3 standards](https://www.w3.org/TR/WCAG20-TECHS/G200.html), it is recommended from an accessibility perspective that links do not open new tabs or windows unless it is necessary.

Normally, I would add a `target="_blank"` to open links in new tabs as well, but if we want to focus on accessibility here maybe it's worth leaving them as is.

[2021-09-25 13:07] #137 closed

[2021-09-25 13:07] doomspork commented on #137
Okay! TIL

[2021-09-25 15:22] #136 closed

[2021-09-26 22:36] BrooklinJazz opened #141 "Several English Basic, Advanced, Specifics, and Libraries Links Returning 404 Response."
I noticed that many links on the main page of the site are returning a 404 response.

Here's a list of what I've found that is broken so far.

- https://elixirschool.com/en/lessons/basics/iex-helpers/
- https://elixirschool.com/en/lessons/advanced/escripts/
- https://elixirschool.com/en/lessons/advanced/otp-concurrency/
- https://elixirschool.com/en/lessons/advanced/otp-supervisors/
- https://elix

[2021-09-26 22:40] kinson commented on #141
Thanks for reporting the issue @BrooklinJazz 🎉 - I can repro this as well.

If you remove the trailing slash do you still see the 404s (I do not)?

Of course, this isn't ideal, so I can take a look sometime this week at the cause of the issue and fix it, or if you want to take a stab at it let me know and I can try to point you in the right direction!

[2021-09-26 22:44] kinson commented on #141
Whoops! I spoke too soon, it seems like some of these urls are structured slightly differently on the new site than the old site. For instance:

* https://elixirschool.com/en/lessons/basics/iex_helpers works but your link (https://elixirschool.com/en/lessons/basics/iex-helpers/) does not
* https://elixirschool.com/en/lessons/misc/poolboy works but your link (https://elixirschool.com/en/lessons/lib

[2021-09-27 01:12] BrooklinJazz commented on #141
Thank you @kinson!

I should mention in case it wasn't clear that I'm taken to these links by interacting with the website itself. So the current buttons take me to 404 requests.

I'm going to have a look and explore the codebase tonight :) Thank you!

[2021-09-27 05:44] BrooklinJazz commented on #141
Upon further inspection, I think this was a caching issue because my main page looks like the old version. Opened elixirschools.com in incognito and everything works fine.

I'm writing up a PR to make sure that requests to old routes will redirect to the new ones so that old links and bookmarks don't have any issues.

[2021-09-27 07:14] jaimeiniesta opened #143 "XML sitemaps keep showing beta URLs"
https://elixirschool.com/sitemap_dark_mode.xml is including beta URLs:

[code]

Similar for https://elixirschool.com/sitemap.xml - in this case, it's fine when I browse it (I'm in Spain), but Rocket Validator is also getting beta URLs (the scraper is in US).

Rocket Validator can't scrape the site, because the URLs are not in the same subdomain.

[2021-09-27 14:21] #143 closed

[2021-09-27 16:14] jaimeiniesta commented on #143
Fixed! Thanks! 🚀

[2021-09-27 16:27] doomspork commented on #143
@kinson is the MVP!

[2021-09-27 16:31] kinson commented on #143
@jaimeiniesta good catch 😅 on that one

[2021-09-28 15:23] doomspork opened #145 "Broken blog images"
https://twitter.com/useraddvictor/status/1442625947216273408

[2021-09-28 16:27] kinson commented on #145
Looks like a few blog posts are still using the old jekyll template tags, for example: https://github.com/elixirschool/elixirschool/blob/master/posts/2020-04-24-instrumenting-phoenix-with-live-dashboard.md#ports

I will update these today which should resolve the issue.

[2021-09-28 20:56] #145 closed

[2021-09-29 23:15] kinson commented on #141
I just verified each of the links in the issue and they are now redirecting as expected 🎊

[2021-09-29 23:15] #141 closed

[2021-09-30 01:19] kinson opened #148 "Add Pagination to Blog Posts Page"
The [blog posts page](https://elixirschool.com/blog) doesn't have pagination, so only 20~ of the 45~ posts are accessible!

We can either leverage live view here or use query param based pagination.

[2021-10-02 16:31] zorn opened #151 "Broken link in navigation for `Advanced > 6. Specifications and types`"
The link for the lesson `Advanced > 6. Specifications and types` within the navigation bar currently links to `#` but the lesson can be found if you go spelunking for it.

<https://elixirschool.com/en/lessons/advanced/typespec>

<img width="1456" alt="Screen Shot 2021-10-02 at 12 28 59 PM" src="https://user-images.githubusercontent.com/52168/135724894-5eb52c52-8904-4148-aac4-c7720a55111f.png">

[2021-10-02 16:33] doomspork commented on #151
Thanks for the report @zorn! We will look into this

[2021-10-02 16:34] #138 closed

[2021-10-02 16:37] doomspork commented on #19
@kinson what do you think about making a bunch of these into hacktoberfest tickets? Any other enhancements you can think of?

[2021-10-02 16:45] kinson commented on #151
Yes, thanks @zorn , I also just noticed the same behavior for Metaprogramming (https://elixirschool.com/en/lessons/advanced/metaprogramming) - the page exists but the menu link is not working.

[2021-10-03 15:49] gemantzu opened #153 "Resource loading issue"
The pages keeps trying to fetch an image, takes a while spinning but then fails. Here is the network result:

![Screenshot from 2021-10-03 18-48-20](https://user-images.githubusercontent.com/4966172/135761583-b1d5412f-bead-45e2-9c17-28153db2b071.png)

[2021-10-03 15:51] kinson commented on #153
Thanks for reporting this! I'll create a pr to fix it and reach out to the author to approve the change (since it's related to his blog post).

[2021-10-03 15:52] gemantzu opened #154 "The whole page should be localized"
Right now, when you click on a translation on the top right, nothing changes besides the lessons' content itself.

What should change:
- lessons content
- lessons links in navbar
- starting page for each language should show up instead of always English
- navbar itself

[2021-10-03 16:09] doomspork commented on #154
@gemantzu have you checked the code itself to see if it has gettext setup? We may just need to generate the localses?

[2021-10-03 16:28] gemantzu commented on #153
:fire:

[2021-10-03 16:29] gemantzu commented on #154
no, doing so right now. The translation landing page though and the navbar localized lessons should not be gettext specific, I think it's code specific

[2021-10-03 16:31] gemantzu commented on #154
Hm, I see that the navbar lesson titles are coming from gettext, AND the setup for the english version is there. Are we good with this option, or do you think we should rely on the lessons themselves to provide these titles?

[2021-10-03 16:31] kinson commented on #153
Fixed in https://github.com/elixirschool/elixirschool/pull/2669

[2021-10-03 16:31] #153 closed

[2021-10-04 12:49] rsmidt commented on #151
In the [_lesson_menu template](https://github.com/elixirschool/school_house/blob/a50891fc1670b9992c664df0eb2a6465602b9a9c/lib/school_house_web/templates/layout/_lesson_menu.html.heex#L156) the atom is `:typespecs` while in the [lesson config](https://github.com/elixirschool/school_house/blob/b8bf87795bb5765b4eb4209de880ac8b21a34f6e/config/lessons.exs#L35) it's `:typespec`. I can file a PR later.

[2021-10-04 15:34] kinson commented on #19
@doomspork I can tackle this later today or tomorrow!

[2021-10-05 15:03] jaimeiniesta opened #156 "Dark mode XML sitemap keeps showing beta URLs"
This XML sitemap:

https://elixirschool.com/sitemap_dark_mode.xml

Is still showing the URLs for the beta site:

[code]

[2021-10-05 15:06] kinson commented on #156
FWIW When I open that link this is what I see (sorry for the indentation):

[code]

Is Rocket Validator still trying to validate against beta.elixirschool.com for dark mode?

[2021-10-05 15:11] jaimeiniesta commented on #156
Sorry @kinson - it looks like my browser was caching it. I refreshed it and now works fine, same for Rocket Validator

[2021-10-05 15:11] #156 closed

[2021-10-05 15:12] jaimeiniesta commented on #77
Now that we're using the main domain, I've updated the shared domain stats, this is the new URL (I've also edited it in the previous comments)

https://rocketvalidator.com/domains/elixirschool.com?auth=171c6160-f0a2-49d9-b83f-065c15c8a072

[2021-10-05 15:12] kinson commented on #156
No worries @jaimeiniesta better safe than sorry 🙂

[2021-10-05 16:23] rsmidt commented on #135
I'd love to take this issue. Is it still free?

[2021-10-05 17:38] rsmidt commented on #135
I did a quick sketch.
![image](https://user-images.githubusercontent.com/15527639/136074318-9c71ebd9-d800-4fc6-af8a-8688fd457b7f.png)

It looks good to me but for longer entries the text breaks. Same for mobile. Is that ok? Otherwise, we could just put "Soon" in the badge.

[2021-10-05 18:34] kinson commented on #135
@rsmidt wow this is great! I think that looks good too, the line breaks are not a big deal in my opinion.

One suggestion I have looking at the `Querying: Advanced` example: I think it may look better to put the "coming soon" tag inline with the text instead of aligning it vertically with the text container. In this instance it would look something like:

[code]

or on smaller view ports:

[code]

[2021-10-06 02:48] kinson commented on #148
Added in #152

[2021-10-06 11:09] thth opened #161 "Lessons should be prominently visible on the front page"
On the old layout, the lessons pages were immediately noticeable in the sidebar.
![image](https://user-images.githubusercontent.com/7574985/136187997-ebbb427e-73ff-4a27-bd3f-b90b5c7e25a4.png)

There was also a link to Basics on the very bottom of the front page.
![image](https://user-images.githubusercontent.com/7574985/136188026-f363ed3c-9360-49f9-9c5d-e4f1b4068be4.png)

With the new layout howev

[2021-10-07 02:19] doomspork commented on #161
Thanks for calling this out @thth! Thoughts @kinson @jaimeiniesta?

[2021-10-09 01:39] #135 closed

[2021-10-09 02:18] doomspork commented on #135
Thank you @rsmidt and @kinson for getting this worked out 🙏

[2021-10-26 14:34] jaimeiniesta opened #176 "HTML issue: some sections lack heading"
Our next biggest issue is this one:

https://rocketvalidator.com/s/0d798b32-e799-4867-8f8c-45698197f2e0/i/115600579

You can [read the guide about "Section lacks heading"](https://rocketvalidator.com/html-validation/section-lacks-heading-consider-using-h2-h6-elements-to-add-identifying-headings-to-all-sections).

It usually means that in web pages like https://elixirschool.com/bg/lessons/intermedi

[2021-10-28 13:39] sujinleeme opened #177 "Suggestion for intro page: Add each local page after translations include:"
Hello 👋,

I'd like to suggest a very small thing to improve the intro page. Under the welcome title, there is a sentence that describes the list of translations.

[code]
As following old ver web, it would be good to add a local link to each language text to switch local pages more easily. e.g.)

![Screenshot 2021-10-28 at 15 36 22](https://user-images.githubusercontent.com/6011401/139266841-668f57

[2021-10-29 11:20] sujinleeme opened #180 "Suggestion for translation_missing page"
Happy Halloween eve. 🎃

As a Korean speaker myself, I'd like to contribute translation when I read Korean doc but it was not smooth to find the specific folder/file in the elixirschool repo. What about adding words of encouragement and connecting location where they can check in the GitHub repo directly?

For example, https://elixirschool.com/no/lessons/ecto/associations has no translation file. I

[2021-10-29 22:23] #177 closed

[2021-10-30 09:50] #176 closed

[2021-11-02 17:36] jaimeiniesta commented on #77
🎉  🎉  🎉  🚀    Good job everyone! We've achieved a 96% score on HTML checking for the site. This means that for the 1,017 URLs checked, only 4% of them have any issue - and they're only warnings:

![Captura de pantalla 2021-11-02 a las 18 34 51](https://user-images.githubusercontent.com/2629/139916587-7ef05e68-0f96-46ac-9940-4babccb7ea90.png)

Here's the link to the latest report. I'll open issues

[2021-11-02 17:45] jaimeiniesta commented on #77
The next biggest HTML issue is this one - it's on the other repo as it's related to content:

https://github.com/elixirschool/elixirschool/issues/2711

[2021-11-02 20:48] jaimeiniesta commented on #77
Yay, look at the [HTML issues chart for the domain](https://rocketvalidator.com/domains/elixirschool.com/html?auth=171c6160-f0a2-49d9-b83f-065c15c8a072) !!!

![Captura de pantalla 2021-11-02 a las 21 47 44](https://user-images.githubusercontent.com/2629/139949336-d5afa676-2dc3-4227-8f3d-0969ee256670.png)

[2021-11-05 17:17] jaimeiniesta commented on #77
![Captura de pantalla 2021-11-05 a las 18 16 02](https://user-images.githubusercontent.com/2629/140551632-a02f62ca-f32b-4055-9f96-f8c5078e9e2d.png)

Only [1 issue left](https://github.com/elixirschool/elixirschool/issues/2712) to get 100% valid HTML!

🚀 🚀 🚀

[2022-01-21 13:16] Camilotk commented on #154
I noticed it also! Its a minor thing since all lessons are translated but cause a bad impression for people who won't speak english since looks like the localization won't work in first glance.

![Screenshot(3)](https://user-images.githubusercontent.com/30880723/150533110-97ea09bd-9d4e-4ef2-a6ef-09a024e87bbb.png)

[2022-02-19 14:19] yellowsman opened #186 "/lessons/ecto/basics/ is Page Not Found"
Hi :)

https://elixirschool.com/en/lessons/ecto/basics/ is showed "Page Not Found".

I think this url needs to be fixed because it's a hit for DuckDuckGo and Bing searches.
https://duckduckgo.com/?q=elixirschool+ecto+basic&t=h_&ia=web

thanks.

[2022-02-19 16:33] doomspork commented on #180
@sujinleeme this is a _great_ idea! I'm sorry I missed this notification 😰 Do you have any interest in implementing this?

[2022-02-19 20:04] kinson commented on #186
@yellowsman thanks for raising this issue. I am unable to reproduce this issue myself (the page loads from GitHub and Google/Duck Duck Go).

Do you mind trying a different browser? And then if that still doesn't work I would be curious what your browser network log looks like when you attempt to load the page.

[2022-02-20 10:41] yellowsman commented on #186
@kinson
I see. I'm sorry.
I displayed it in a different browser and it didn't give me an error, thanks!
I'll consult the Vivaldi browser forum!

[2022-02-20 10:41] #186 closed

[2022-02-21 04:13] kinson commented on #186
No problem, thanks for following up! If you can, try to clear any cache/saved data related to elixirschool.com on the affected browser. The site switched IPs/hosts so if your browser is caching the old host then that could explain your issue.

[2022-03-05 01:04] fmterrorf opened #187 "Markdown `code` not rendering properly"
Hello ElixirSchool :wave: Thank your providing an awesome place for Elixir content!

I noticed that the markdown code isn't rendering properly specifically on this page https://elixirschool.com/blog/til-genserver-handle-continue/

![Screenshot from 2022-03-04 19-01-14](https://user-images.githubusercontent.com/77761194/156860869-d69ec26d-4eac-4825-83d9-4941093e8619.png)

![Screenshot from 2022-03-

[2022-03-23 03:02] JohnPCarvalho opened #189 "Incorrect description in the IEx Helpers section."
In the portuguese version of the page, the description text for the IEx Helpers section is incorrect:

![image](https://user-images.githubusercontent.com/34754632/159615559-3182b57c-5d0b-4989-b8ca-294664a62b80.png)

Checking the English version, it doesn't have a description. Maybe we could remove this "{: .excerpt }" from the Portuguese section?

It is my first issue, sorry if i said something wr

[2022-03-23 04:11] #189 closed

[2022-05-14 20:18] tenshikiri commented on #154
#192 should do the trick!

[2022-05-16 20:32] #187 closed

[2022-05-16 20:32] #77 closed

[2022-05-20 15:37] tenshikiri commented on #154
All that's needed now for all languages, is to have [each .po file in here](https://github.com/elixirschool/school_house/tree/main/priv/gettext) translated accordingly.

[2022-06-04 21:34] kinson commented on #154
Closing out this issue since it was added in #192, feel free to re-open or create a new issue if there is more work, but since we have the ground work laid for full-page translations I think we can close it safely.

[2022-06-04 21:34] #154 closed

[2022-06-22 16:55] tomsawyercode opened #195 "building-apps-with-plug-router need to set content-type for json ??"
I am reading the next article:

https://elixirschool.com/blog/building-apps-with-plug-router/

In the render_json function the content-type is not set
so only receive a raw string.

Then the code must to include the content type:

[code]

Greetings

[2022-06-24 19:10] sujinleeme commented on #180
@doomspork  I'd like to help. 💜

[2022-06-26 12:20] doomspork commented on #180
Hooray! Thank you @sujinleeme 💜

[2022-06-26 12:22] doomspork commented on #195
Hi @tomsawyercode! Thanks for bringing this to our attention. This is a good call out and something we should change. I'm happy to make the change or defer to you if you'd rather 😁

[2022-10-02 18:11] lubien commented on #180
Ig that's ok I'd like to take a stab on this issue

[2022-10-02 18:48] doomspork commented on #180
Please do @lubien!

[2022-10-04 12:09] lubien commented on #180
I think this can be closed? 👀

[2022-10-04 12:17] #180 closed